body {
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: #262421;
}

.game-board {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.game-over {
    text-align: center;
}
